body {
    background-color: white;
    color: maroon;
    margin: 0;
    padding: 0;

}

img {
    max-width: 100%;
}

.container {
    max-width: min(80ch, 100vw - 4rem);
    margin-inline: auto;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: #4D2860;
    color: white;
    
}

nav>ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

header>a>img {
    max-width: 50%;
    max-height: 50%;
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.sidebar {
    /* ↓ The width when the sidebar _is_ a sidebar */
    flex-basis: 20rem;
    flex-grow: 1;
    background-color: #D4AF37;
    text-align: center;
    padding-top: 3rem;
    
}

.not-sidebar {
    /* ↓ Grow from nothing */
    flex-basis: 0;
    flex-grow: 999;
    /* ↓ Wrap when the elements are of equal width */
    min-inline-size: 50%;
}

main>aside>img {
    max-width: 70%;
    max-height: 70%;
}
